.App {
  text-align: center;
    display: inline-block;
    overflow: auto;
  margin: 100px;
  border: solid 1px #e6e6e6;
    border-radius: 5px;
  width: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    border: 1px solid #f5f5f5;
    border-bottom-color: #e6e6e6;
    background: #f5f5f5;
    color: #323232;
}
.App-header h1{
    margin: 15px;
    text-align: left;
}
.App-footer-left{
  width:  calc(33% - 1px);
  float: left;
  border-right: solid 1px #e6e6e6;
}

.App-footer-center{
  width: calc(34% - 1px);
  float: left;
  border-right: solid 1px #e6e6e6;
}

.App-footer-right{  float: right;
  width: calc(33% - 1px);
}

.App-title {
  font-size: 1.2em;
}

.App-title h1{
  float: left;
}


.App-footer-summary {
  width:100%;border-collapse: collapse;
}

.App-footer-summary td{
    padding: 15px;
  border: solid 1px #e6e6e6;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}